body{
    background: #2a2b2a;
    color: #fff;
}
h1{
    color: #7a26e0;
}


.Nav{
   /* background: linear-gradient(-145deg,#7a26e0, #7300ff)!important;*/
    background: #7a26e0!important;
    color: #fff;
}